.score-board {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 0 25px 0;
  position: relative;
}

.score-board .player-1 {
  display: flex;
  align-items: center;
}

.score-board .player-1 p {
  padding-right: 5px;
}

.score-board .player-2 p {
  padding-left: 5px;
}


.score-board .player-2 {
  display: flex;
  align-items: center;
}

.vs {
  color: var(--color-sandstorm);
  padding: 0 5px;
}

.arrow-down {
  position: absolute;
  top: 8px;
  left: 105px;
}

.arrow-down.-left {
  animation-duration: 2s;
  animation-name: slideBack;
}


.arrow-down.-right {
  animation-duration: 2s;
  animation-name: slidein;
  left: 195px;
}

@keyframes slidein {
  from {
    top: 8px;
    left: 105px;
  }
  to {
    left: 195px;
  }
}

@keyframes slideBack {
  from {
    left: 195px;
  }
  to {
    left: 105px;
  }
}