.score-board {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 0 25px 0;
  position: relative;
}

.score-board .player-1 {
  display: flex;
  align-items: center;
}

.score-board .player-1 p {
  padding-right: 5px;
}

.score-board .player-2 p {
  padding-left: 5px;
}


.score-board .player-2 {
  display: flex;
  align-items: center;
}

.vs {
  color: var(--color-sandstorm);
  padding: 0 5px;
}