.score-board {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 19px 25px 0;
}

.score-board .player-1 {
  display: flex;
  align-items: center;
}

.score-board .player-1 p {
  padding-right: 5px;
}

.score-board .player-2 p {
  padding-left: 5px;
}


.score-board .player-2 {
  display: flex;
  align-items: center;
}

.sandstorm {
  color: var(--color-sandstorm);
  padding: 0 5px 0 5px;
}

.arrow-down {
  position: relative;
  top: -21px;
  left: 121px;
}

.arrow-down.-movement {
  animation-duration: 2s;
  animation-name: slidein;
  left: 200px;
}

@keyframes slidein {
  from {
  top: -21px;
  left: 121px;
  }
  to {
    left: 200px;
  }
}